@{
    ViewData["Title"] = "Home Page";
}
@model CoreConfiguration.Models.HomeViewModel


<a href="/Home/Start">Start</a><br />
<a href="/Home/Binder">Binder</a><br />
<a href="/Home/MultiSource">MultiSource</a><br />
<a href="/Home/Other">Other</a><br />
<a href="/Home/Monitor">Monitor</a><br />